{% extends 'website/home.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="registration-form">
        <form method="post" class="mt-4">
            {% csrf_token %}
            <h1>Оформление заказа</h1>
            <h3>Корзина {{ cart }}</h3>
            <h4>
            {% for item in cart.items.all %}
                {{ item.product.name }}: {{ item.quantity }} шт.,
            {% endfor %}
            </h4>
            <h4>Стоимость: {{ cart.total_price }} руб.</h4>

            <p>Дата заказа: {{ cart.created_at }}</p>

            <div class="form-group">
                <label for="id_address">Адрес доставки:</label>
                <input type="text" name="delivery_address" id="id_address" class="form-control"
                       value="{{ cart.customer.delivery_address }}" required>
            </div>

            <div class="form-group">
                <label for="id_comment">Комментарий:</label>
                <textarea name="comment" id="id_comment" class="form-control"></textarea>
            </div>
            <div>
                <p><button type="submit" class="btn btn-primary">Отправить заказ</button></p>
                <p><a class="btn btn-success"  href="{% url 'showcase' %}">Вернуться в каталог</a></p>
            </div>
        </form>
    </div>
</div>
{% endblock %}
